@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(60deg, #181120 50%, #160430 100%); */
    background: linear-gradient(90deg, #181120 0%, #160430 50%);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
        'nav header'
        'nav main'
        'nav main';
    overflow-y: hidden;
}


/* --------------------------Header-------------------------------- */

header{
    grid-area: header;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 90%;
    border-bottom: 1.5px solid rgb(97, 101, 109);
}

.div__title_direction{
    margin-left: 5%;
    margin-right: 55%;
}
.div__title_direction a{
    color: var(--color-font-1);
    font-size: 36px;
    font-family: "NotoSans-BoldItalic";
    text-decoration: none;
}
.form_search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
    background: #2f1655;
    border-radius: 34px;
    width: 15%;
    height: 28%;
    padding: 5px;
    gap: 2px;
}
#myButton {
    width: 11%;
    height: 90%;
    border: none;
    border-radius: 100%;
    background-image: url('../storage/img/search.svg'); /* La ruta a tu imagen */
    background-position: center; /* Para centrar la imagen */
    background-size: contain;
    cursor: pointer;
  }
.form_search input{
    width: 82%;
    height: 80%;
    border-radius: 34px;
    background: transparent;
    color: var(--color-font-1);
    border: none;
    font-size: 80%;
    font-family: "LexendDeca-Regular";
    padding-left: 10px;
    outline: none;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    height: 28%;
    border-radius: 100%;
    background: #2f1655;
}






/* --------------------------------Navegation----------------------------------- */

nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background: rgb(25 3 57);
    height: 100vh;
    padding: 30px;
    align-items: stretch;
    gap: 15%;
}

.div_title{
    margin-left: 10%;
}
.div_title a{
    color: var(--color-font-1);
    font-size: 200%;
    font-family: "LexendDeca-Regular";
    text-shadow: 5px 5px var(--color-fourtheen);
    text-decoration: none;
}

.ul__nav{
    height: 122%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5%;
    margin-right: 40%;
}
.ul__nav li {
    display: flex;
    cursor: pointer;
    width: 120%;
    height: 8%;
    list-style: none;
}
.ul__nav li a{
    text-decoration: none;
    color: white;
    font-family: "NotoSans-ExtraBold";
    font-size: 100%;
}

.ul__nav img{
    width: 45%;
    height: 45%;
    justify-self: center;
}

#logOut{
    margin-top: 200%;
}

/* ----------------------Main------------------------------ */


main{
    grid-area: main;
}
.title__explore{
    font-family: "NotoSans-SemiCondensed-BlackItalic";
    font-size: 150%;
    color: #ddd;
    justify-self: center;
    margin: 30px;
}


.table__explore{
    display: flex;
    flex-wrap: wrap;
    background: #684db773;
    border-radius: 20px;
    justify-self: center;
    width: 90%;
    height: 70vh;
    margin: 20px;
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
}

.tabla_cripto { 
    width: 100%;
    text-align: center;
}
.tr__cripto__title th{
    padding: 15px;
    font-family: "NotoSans-Medium";
    font-size: 105%;
    color: white;
}

.tr__cripto__info td{
    padding: 15px;
    background: #230c43bd;
    border-radius: 15px;
    color: #704df3;
    font-family: "NotoSans-Regular";
    font-weight: bold;
    border-bottom: 1px solid rgb(97, 101, 109);
}
.tr__cripto__info td:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.tr__cripto__info:hover{
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}
.table__explore p{
    color: white;
    font-family: "NotoSans-Medium";
    font-size: 105%;
}


/* ----------------------BARRA DE DESPLAZAMIENTO ------------------------------*/
::-webkit-scrollbar {
    width: 16px; 
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
