:root {
    --color-primary: #160430;
    --color-secondary: #3B2063;
    --color-success: #122153;
    --color-fourtheen: #393f8b;
    --color-font-1: #FFFFFF;
    --color-font-2: #000000;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../storage/font/example.ttf);
}

@font-face {
    font-family: 'notoSans-BoldItalic';
    src: url(../storage/font/NotoSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'NotoSans-ExtraBoldItalic';
    src: url(../storage/font/NotoSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url(../storage/font/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'LexendDeca-Regular';
    src: url(../storage/font/LexendDeca-Regular.ttf);
}
@font-face {
    font-family: 'NotoSans-SemiCondensed-BlackItalic';
    src: url(../storage/font/NotoSans_SemiCondensed-Black.ttf);
}